* {
    margin: 0;
    font-family: 'Manga Temple', sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: rgb(87,81,81);
    background: linear-gradient(90deg, rgba(87,81,81,0.865983893557423) 0%, rgba(161,155,155,1) 50%, rgba(182,182,182,1) 100%);
    /* background: rgb(96,0,168);
    background: linear-gradient(90deg, rgba(96,0,168,1) 0%, rgba(0,56,168,0.8211659663865546) 47%, rgba(0,56,168,1) 100%); */
}

.container {
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    align-items: center;
}

.manga {
    width: 900px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

section {
    background-color: white;
    width: 40%;
    height: 85%;
    /* height: 500px; */
    /* border: 5px solid #003049; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bloco1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48%;
}

#quadro3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    height: 224px;
    background-image: url(./imagens/desenho7.png);
    background-size: cover;
}

#quadro1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46.5%;
    height: 100%;
    background-image: url(./imagens/desenho4.png);
    background-size: cover;
}

#quadro3:hover {
    width: 365px;
    height: 229px;
}

#quadro2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 167px;
    height: 224px;
    background-image: url(./imagens/desenho6.2.png);
    background-size: cover;
}

#quadro2:hover {
    width: 172px;
    height: 229px;
}

#quadro4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 63%;
    background-image: url("./imagens/desenho1.png");
    background-size: cover;
}

#quadro5 {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    height: 33%;
    background-image: url("./imagens/background.jpg");
}

.quadro {
    border: 1.5px solid black;
    transition: 0.5s;
    /* box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 1.5px solid black; */
}

br {
    height: 5%;
}

a img {
    width: 80px;
    /* transition: 0.5s; */
    border-right: 50px none #B6B6B6;
}

a img:hover {
    cursor: pointer;
    width: 85px;
}

#quadro1:hover{
    background-image: url(./imagens/desenho5.png);
}

p {
    text-align: center;
}

p:nth-of-type(2) {
    margin-top: 3.5%;
}

p:nth-of-type(1) {
    margin-top: 1.5%;
}

#hobbies {
    font-size: 1rem;
    margin-top: 3%;
    margin-left: 2%;
}

#vida-a {
    font-size: 1rem;
    margin-left: 42%;
    margin-top: 5%;
}